<div class="w-full mx-auto px-4 border-b border-gray-500 dark:border-white">
  <div class="items-start justify-center sm:justify-between py-4 md:flex">
    <div>
      <a routerLink="/home">
        <h1
          [style.view-transition-name]="'title'"
          class="font-bold bg-gradient-to-r text-center from-blue-600 via-green-500 to-indigo-400 text-transparent bg-clip-text text-3xl">
          Country SPA
        </h1>
      </a>
    </div>
    <nav [style.view-transition-name]="'navigation'" class="gap-x-3 mt-6 md:mt-0 flex justify-center">
      <button routerLink="countries/by-capital"
              class="animate-border transition inline-block bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-[length:400%_400%] p-0.5">
        <span class="block dark:bg-slate-900 bg-gray-200 md:px-2 md:py-1 px-3 py-1 font-bold"
              routerLinkActive="bg-opacity-0 dark:bg-opacity-0"
              [routerLinkActiveOptions]="{exact:true}"> Capital </span>
      </button>
      <button routerLink="countries/by-country"
              class="animate-border transition inline-block bg-white bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-[length:400%_400%] p-0.5">
        <span class="block dark:bg-slate-900 bg-gray-200 md:px-2 md:py-1 px-3 py-1 font-bold"
              routerLinkActive="bg-opacity-0 dark:bg-opacity-0"
              [routerLinkActiveOptions]="{exact:true}"> Country </span>
      </button>
      <button routerLink="countries/by-region"
              class="animate-border transition inline-block bg-white bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-[length:400%_400%] p-0.5">
        <span class="block dark:bg-slate-900 bg-gray-200 md:px-2 md:py-1 px-3 py-1 font-bold"
              routerLinkActive="bg-opacity-0 dark:bg-opacity-0" [routerLinkActiveOptions]="{exact:true}"> Region </span>
      </button>
    </nav>
  </div>
</div>
