<div class="flex mt-10 flex-row justify-center">
  @for (region of regions; track regions) {
    <button class="mx-2 px-2 py-1 border"
            [ngClass]="selectedRegion === region?'text-blue-500 border-blue-500 dark:bg-slate-800':'bg-white dark:bg-slate-900'"
            (click)="searchRegion(region)">
      {{ region }}
    </button>
  }
</div>

<div class="flex flex-row justify-center pt-5 w-full">
  <div class="flex-col w-full xl:w-fit">
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>

